# dependencies
node_modules/

# build output
dist/
src/dist/

# Capacitor / Android
android/.gradle/
android/build/
android/app/build/

# OS junk
.DS_Store

# logs
npm-debug.log*

# Android Studio / IntelliJ
android/.idea/
*.iml

src/public/exercise_guidance_links.csv
